<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prit.videocompressorpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/dp"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:requestLegacyExternalStorage="true" -->
        <activity
            android:name=".View.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.PhotoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.CompressorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.VideoListActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".View.OutputActivity"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>